.loader {
    display: flex;
    height: 50px;
    margin: 30px 0;
    width: 100%;
    justify-content: center;
}

.loader:after {
    content: " ";
    display: block;
    width: 50px;
    height: 50px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s linear infinite;
}

.loader.black:after {
    border: 6px solid var(--color-black);
    border-color: var(--color-black) transparent var(--color-black) transparent;
}

.loader.blue:after {
    border: 6px solid var(--color-blue);
    border-color: var(--color-blue) transparent var(--color-blue) transparent;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}